.modal-content { background-color: #1e1e1e; color: white; border: 1px solid #444; }
.form-control { background-color: #2c2c2c; border: 1px solid #444; color: white; }
.form-control:focus { background-color: #2c2c2c; color: white; border-color: #ffc107; box-shadow: none; }
.form-control::placeholder { color: #bbbbbb; opacity: 1; }
.switch-link { cursor: pointer; text-decoration: underline; color: #ffc107; }